body {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Indie Flower";
}

body button {
    font-size: 30px;
    background-color: rgb(41, 137, 216);
    color: black;
    margin: 50px;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: "Indie Flower";
    -webkit-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

#game-board {
    height: 2000px;
    width: 2000px;
    padding: 75px;
    background-image: url("./images/fondostory.jpg");
}

.game-intro {
    height: 80vh;
    align-items: center;
    padding: 100px;

}

.game-intro p {
    padding: 50px;
    font-size: 30px;
    font-family: "Indie Flower"
}

.logo-img {
    width: 350px;
}

.arrows-img {
    width: 150px;
}

#gameOver-screen {
    height: 80vh;
    margin: 2% 15%;
    align-items: center;
}

#tryAgain-button {
    font-size: 30px;
    background-color: rgb(41, 137, 216);
    color: black;
    padding: 20px 20px;
    border: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: "Indie Flower";
    -webkit-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

#canvas {
    border-radius: 50px;
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    height: 500px;
    width: 500px;
    -webkit-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 43px 11px rgba(0, 0, 0, 0.75);
}

#score {
    font-size: 35px;
}