/* Main reset? */

ul, li {
    margin:0;
    padding:0;
    border:0;
    list-style:none;
    }
    
    a {
    text-decoration:none;
    color:#000
    }
    
    /* Game and Watch */
    
    body {
    font-family:sans-serif;
    text-align:center;
      padding-top:130px;
    margin:0;
    background: #2989d8;
    }
    
    #game-and-watch-game-title  {
    padding-top:10px;
    line-height:1.5em;
    }
    
    #gameboy-settings-text, #gameboy-start-text {	
    display:none;
    }
    
    #gameboy-dotmatrix, #game-and-watch-mini-chain, #classic-title, #gameboy-title, #game-and-watch-gameboy-battery, #game-and-watch-gameboy-title, #game-and-watch-gameboy-trim-onoff, #mini-classic-rightbutton-text, #gameboy-button-text-a, #gameboy-button-text-b {
    display:none;
    }
    
    #game-and-watch-game-title span {
    font-size:1.3em;
    vertical-align:bottom;
    line-height:1.2em;
    text-transform:uppercase;	
    }
    
    #game-and-watch-text .button a {
    margin:40px 0;
    position:relative; /* Android not reflecting properly, brings buttons to front */
    z-index:999;	
    }
    
    #game-and-watch-leftbutton-top a:active, #game-and-watch-leftbutton-bottom a:active, #game-and-watch-leftbutton-left a:active, #game-and-watch-leftbutton-right a:active {
    position:relative;
    z-index:9999;
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, .9);
    }
    
    ::-moz-selection { background: red; color: #fff; text-shadow: none; }
    ::selection { background: red; color: #fff; text-shadow: none; }
    
    #game-and-watch-type-gameboy, #game-and-watch-type-mini-classic {
    display:none;
    }
    
    
    #game-and-watch-text {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    max-width:500px;
    font-size:.9em;
    color:#555;
    margin-top:150px;
    margin-bottom:100px;
    background:rgba(255,255,255,.6);
    padding:10px 30px 30px; 
    border:6px solid rgba(255,255,255,.6);
    position:relative;
    z-index:999;
    line-height:2em;
    }
    
    #game-and-watch {
    width:700px;
    margin-left:auto;
    position:relative;
    z-index:9999;
    margin-right:auto;
    margin-bottom:90px;
    margin-top:120px;
    border:5px solid transparent;
    -webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white)); 
    }
    
    #game-and-watch p {
    margin-bottom:0;
    line-height:1em;
    letter-spacing:-px;
    }
    
    #game-and-watch-case {
    background:#eae8db;
    padding-top:10px;
    height:350px;
    padding-bottom:10px;
    text-transform:uppercase;
    text-align:center;	
    color:#fff;
    border-radius:5px;
    }
    
    #game-and-watch-case-in {
    margin-left:10px;
    margin-right:10px;
    background: #55bac6; 
    height:350px;
    background: -moz-linear-gradient(top, #55bac6 0%, #53b6bb 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55bac6), color-stop(100%,#53b6bb)); 
    background: -webkit-linear-gradient(top, #55bac6 0%,#53b6bb 100%); 
    background: -o-linear-gradient(top, #55bac6 0%,#53b6bb 100%); 
    background: -ms-linear-gradient(top, #55bac6 0%,#53b6bb 100%); 
    background: linear-gradient(to bottom, #55bac6 0%,#53b6bb 100%); 
    -webkit-box-shadow:inset 1px 1px 4px #000;
    -moz-box-shadow:inset 1px 1px 4px #000;
    box-shadow:inset 1px 1px 4px #000;
    }
    
    #game-and-watch-left {
    float:left;
    margin-right:10px;
    margin-left:20px;
    }
    
    #game-and-watch-screen {
    width:410px;
    height:290px;
    float:left;
    margin-top:25px;
    border-top:4px solid #222;
    border-left:4px solid #222;
    border-right:4px solid #222;
    border-bottom:4px solid #222;
    background:#444;
    padding:1px 5px 5px 5px;
    position:relative;
    z-index:999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    }
    
    #game-and-watch-screen-top {
    border-top:10px solid #777;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    height:0;
    margin-left:-4px;
    margin-right:-4px;
    }
    
   

    
    #game-and-watch-game {
    height:195px;
    padding:5px;
    background:#c4c6b8;
    margin-bottom:8px;
    border:5px solid #fff;
    overflow:hidden;
    margin-left:10px;
    margin-right:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:inset -3px 4px 15px #000;
    -moz-box-shadow:inset -3px 4px 15px #000;
    box-shadow:inset -3px 4px 15px #000;
    }
    
    #game-and-watch-screen-sheen {
    height:205px;
    width:380px;
    margin-bottom:-294px;
    border:5px solid #fff;
    overflow:hidden;
    
  
    }
    
    #game-and-watch-screen-sheen-in {
    height:205px;
    position:relative;
  
    }
    
  
 
    

  
 
  


    
    #game-and-watch-badge {
    width:62px;
    height:40px;
    padding:6px 10px 10px;
    line-height:1em;
    font-size:1em;
    color:#222;
    font-style:italic;
    font-weight:bold;
    margin-top:25px;
    margin-bottom:50px;
    background:#fff;
    margin-left:auto;	
    margin-right:auto;	
    border-bottom:1px solid #555;
    border-top:1px solid #555;
    border-left:1px solid #555;
    border-right:1px solid #555;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    }
    
    #game-and-watch-leftbutton {
    font-size:.5em;
    }
    
    #game-and-watch-character {
    margin-top:-20px;
    padding-bottom:55px;
    width:80px;
    }
    
    #game-and-watch-leftbutton-horizontal {
    width:98px;
    height:36px;
    background:#eee;
    margin-left:auto;	
    margin-right:auto;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;	
    border-radius:20px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    }
    
    #game-and-watch-leftbutton-vertical {
    width:36px;
    height:98px;
    padding-top: 4px;
    background:#eee;
    margin-left:auto;
    margin-top:-69px;
    margin-right:auto;	
    margin-bottom:4px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    }
    
    #game-and-watch-leftbutton-top a {
    display:block;
    width:30px;
    margin-bottom:12px;
    height: 30px;
    background: red;
    margin-top:-2px;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); 
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    margin-left:auto;
    margin-right: auto;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    box-shadow:0 1px 2px rgba(0, 0, 0, .9);
    cursor: -webkit-grab; cursor: -moz-grab;
    }
    
    #game-and-watch-leftbutton-cover {
    width:40px;
    height:35px;
    background: #eee;
    margin-left:-2px;
    margin-top:-10px;
    }
    
    #game-and-watch-leftbutton-bottom a {
    display:block;
    width:30px;
    height: 30px;
    background: red;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); 
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    margin-left:auto;
    margin-right: auto;
    margin-top:-1px;
    -webkit-border-radius:40px;
    position:relative;
    z-index:9999;
    -moz-border-radius:40px;
    border-radius:40px;
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    cursor: -webkit-grab; cursor: -moz-grab;
    }
    
    #game-and-watch-leftbutton-left a {
    display:block;
    width:30px;
    height: 30px;
    background: red;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); 
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    float:left;
    margin-top:-62px;
    margin-left:-28px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    cursor: -webkit-grab; cursor: -moz-grab;
    position:relative; /*prevents weird box around button */
    }
    
    #game-and-watch-leftbutton-right a {
    display:block;
    width:30px;
    height: 30px;
    background: red;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); 
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    float:right;
    margin-top:-62px;
    margin-right:-28px;
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    cursor: -webkit-grab; cursor: -moz-grab;
    }
    
    #game-and-watch-rightbutton {
    clear:both;
    width:60px;
    margin-bottom:10px;
    }
    
    #game-and-watch-rightbutton-in {
    width:50px;
    height: 50px;
    border: 5px solid #fff;
    margin-bottom:10px;
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    }
    
    #game-and-watch-rightbutton-in a {
    width:50px;
    display:block;
    height: 50px;
    background: red;
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); 
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
    cursor: -webkit-grab; cursor: -moz-grab;
    }
    
    #game-and-watch-rightbutton-in a:active, #gameboy-rightbutton-in a:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .9);
    position:relative;
    z-index:9999;
    }
    
    #gameboy-rightbutton-in a:active {
    border-top:3px solid #000;
    }
    
    #game-and-watch-right {
    float:right;
    font-size:.4em;
    }
    
    #game-and-watch-game-start {
    width:30px;
    font-size:8px;
    margin-top:35px;
    margin-bottom:80px;
    height:130px;
    float:left;	
    }
    
    #game-and-watch-start-one, #game-and-watch-start-two, #game-and-watch-start-three {
    width:26px;
    height:13px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid #777;
    border-bottom:1px solid #fff;
    background:#fff;
    margin-bottom:3px;
    position:relative;
    z-index:999;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .9);
    }
    
    #game-and-watch-left-gloss {
    width:220px;
    height:226px;
    float:left;
    margin-top:-389px;
    margin-left:-70px;
    opacity:.2;
    border-left:126px solid #fff;
    -webkit-border-top-left-radius:550px;
    -webkit-border-top-right-radius:0;
    -moz-border-radius-topleft:550px;
    -moz-border-radius-topright:0;
    border-top-left-radius:550px;
    border-top-right-radius:0;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate (-90deg);
    transform:rotate(-90deg);
    }
    
    #game-and-watch-right-gloss {
    width:50px;
    height:226px;
    float:right;
    margin-top:-302px;
    margin-right:-160px;
    opacity:.2;
    border-left:326px solid #fff;
    -webkit-border-top-left-radius:550px;
    -webkit-border-top-right-radius:0;
    -moz-border-radius-topleft:550px;
    -moz-border-radius-topright:0;
    border-top-left-radius:550px;
    border-top-right-radius:0;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate (-90deg);
    transform:rotate(-90deg);
    }
    
    #game-and-watch-gamea-text, #game-and-watch-gameb-text, #game-and-watch-time-text {
    clear:both;
    line-height:1.2em;	
    margin-bottom:3px;
    }
    
    #game-and-watch-bottom-edge {
    border-top: 10px solid #ccc;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    margin-top:-1px;
    margin-left:3px;
    }
    
    #game-and-watch-bottom-edgetwo {
    margin-left:17px;
    margin-right:14px;
    border-top: 6px solid #444;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    }
    
    #game-and-watch-bottom-edgeshadow {
    margin-left:31px;
    margin-right:46px;
    margin-top:-9px;
    padding:3px;
    -webkit-box-shadow:0 10px 15px #444;
    -moz-box-shadow:0 10px 15px #444;
    box-shadow:0 10px 15px #444;
    }
    
    #game-and-watch-start-one, #game-and-watch-start-two, #game-and-watch-start-three {
    width:26px;
    float:left;
    margin-right:5px;
    height:13px;
    }
    
    #game-and-watch-start-two {
    width:26px;
    float:left;
    margin-top:6px;
    height:13px;
    }
    
    .game-and-watch-start-inner a {
    display:block;
    width:22px;
    height:9px;
    margin-top:2px;
    margin-left:auto;
    margin-right:auto;
    background:#999;
    margin-bottom:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: inset 0 -3px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 -3px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 0 -3px 2px rgba(0, 0, 0, .4);
    }
    
    
    .game-and-watch-start-inner a:active {
    -webkit-box-shadow:inset 0 3px 2px rgba(0, 0, 0, .4);
    -moz-box-shadow:inset 0 3px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, .4);
    }
    
    #game-and-watch-game-settings {
    width:40px;
    height:100px;
    font-size:6px;
    margin-top:35px;
    margin-right:10px;
    float:right;	
    }
    
    #game-and-watch-game-tiny-pinhole {
    width:10px;
    height:10px;
    margin-top:10px;
    margin-bottom:3px;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid #333;
    border-bottom:1px solid #fff;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 4px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow:inset 0 4px 6px rgba(0, 0, 0, .5);
    box-shadow:inset 0 4px 6px rgba(0, 0, 0, .5);
    }
    
    #game-and-watch-screen-in {
    font-family: PretendoRegular;
    text-transform:uppercase;
    border-bottom: 1px solid #eee;
    font-size:.8em;
    color:#222;
    background: rgb(238,238,238); 
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    }
    
    #game-and-watch-nintendo-logo {
    text-transform:capitalize;
    width:100px;
    height:10px;
    font-size:1.3em;
    line-height:1em;
    margin-bottom:10px;
    margin-top:-4px;
    color:#000;
    margin-left:auto;
    margin-right:auto;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    }
    
    
    #mini-classic-logo {
    display:none;
    }

    #canvas {
      border-radius: 5px;
      padding: 5px;
      background-color: white;
      border: 1px solid white;
      height: 250px;
      width: 360px;
      }
    
      body {
        transform: scale(1.2em 1.2em);
        transform-origin: 0 0;
     }
    
    