body {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

body button {
    font-size: 30px;
    background-color: #45bcf8;
    color: black;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    margin-bottom: 20px;
}

#game-board {
    border-radius: 20px;
}

.game-intro {
    height: 80vh;
    align-items: center;

}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.logo-img {
    width: 350px;
}

.arrows-img {
    width: 150px;
}

#gameOver-screen {
    height: 80vh;
    margin: 2% 15%;
    align-items: center;
}

#tryAgain-button {
    font-size: 30px;
    background-color: #45bcf8;
    color: black;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 20px;
    margin-bottom: 20px;
}